@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-normal-400-100.otf");
}
body {
    font-family: "Gilroy";
    margin: 0;
}

/* header */
header {
    margin: 0 auto;
    width: 1200px;
}
.header_nav1 {
    display: flex;
    justify-content: space-between;
}
.header_nav1-logo, .header_nav1-catalog>a, .header_nav1-finder {
    display: flex;
    justify-content: space-between;
}
.header_nav1-logo>a:nth-child(1) {
    margin: auto;
}
.header_nav1-logo>a:nth-child(1)>img {
    width: 40px;
    height: 40px;
}
.header_nav1-logo>a:nth-child(2) {
    text-decoration: none;
    color: #014993;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}
.header_nav1-catalog {
    margin: auto 0;
}
.header_nav1-catalog>a {
    text-decoration: none;
    color: #014993;
    font-size: 17px;
}
.header_nav1-catalog>a>img {
    margin: auto;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.header_nav1-finder {
    height: 40px;
    margin: auto 0;
}
.header_nav1-finder>input {
    border-radius: 15px;
    border: 0px;
    width: 250px;
}
.header_nav1-finder>a {
    margin: auto 0 auto 10px;
}
.header_nav1-dostavka {
    margin: auto -20px auto 0;
}
.header_nav1-links {
    display: flex;
    margin: auto 0;
}
.header_nav1-links>a {
    margin-left: 20px;
}
.header_nav2 {
    margin-top: 15px;
}
.header_nav2, .header_nav2-block1, .header_nav2-block2, .header_nav2-block2--box:nth-child(2)>a {
    display: flex;
    justify-content: space-between;
}
.header_nav2-block1--box:nth-child(1)>a, .header_nav2-block1--box:nth-child(2)>a {
    font-weight:bold;
}
.header_nav2-block1--box>a {
    text-decoration: none;
    color: black;
}
.header_nav2-block1--box>a>p {
    margin: auto 15px;
}
.header_nav2-block2--box, .header_nav2-block2--box>a>p{
    margin: auto 0;
}
.header_nav2-block2--box>a {
    text-decoration: none;
    color: black;
}
.header_nav2-block2--box>a>p {
    margin:auto 15px;
}
.header_nav2-block2--box:nth-child(2)>a>img {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* main  */
main {
    width: 1200px;
    margin: 0 auto;
}


/* footer */
footer {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
footer>img {
    position: fixed;
    bottom: 0;
    left: 0px;
}
.footer_blocks {
    font-size: 14.75px;
}
.footer_blocks>a {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}
.footer_blocks>a>img {
    height: 100%;
    margin: auto;
}
.footer_blocks>p:nth-child(1) {
    color: #B6BAC2;
}
.lich  {
    display: inline-block;
  transform: translate(2em, -8em);
}
.qq1{
    /* Rectangle 12 */

box-sizing: border-box;

position: absolute;
width: 575px;
height: 282px;

background: rgba(217, 217, 217, 0.5);
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 45px;
display: inline-block;
transform: translate(-12em, -13em);
}
.avatar{
    border: 1px solid black;
    display: inline-block;
transform: translate(38em, -13em);
}
.knopka{
    border: 1px solid black;
    display: inline-block;
transform: translate(12em, -13em);
}
.io{
    
    display: inline-block;
transform: translate(3em, -19em);
}
.tovarn {
    Position: absolute;
    margin:-355px 30px;
    padding-left: 505px; 
    color: grey;
}
.tovarnaz {
    Position: absolute;
    margin:-285px 30px;
    padding-left: 505px; 
}
.rating-area {
    Position: absolute;
    margin:-235px 10px;
    padding-left: 470px; 
	overflow: hidden;
	width: 265px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: gold;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
.ocenka {
    Position: absolute;
    margin:-228px 30px;
    padding-left: 715px; 
    color: grey;
}
.otziv {
    Position: absolute;
    margin:-228px 30px;
    padding-left: 855px; 
    color: grey;
}
.cub {
    /* Rectangle 25 */

box-sizing: border-box;

position: absolute;
margin:-195px 535px;
width: 495px;
height: 191px;


border: 1px solid #000000;

}
.knopka12 {
    Position: absolute;
    margin:192px 365px;
    font-size: 25px;
}
.nalich {
    Position: absolute;
    margin:-118px 30px;
    padding-left: 815px; 
}
.samovi {
    Position: absolute;
    margin:-38px 30px;
    padding-left: 665px; 
}
.cena {
    Position: absolute;
    margin:-158px 30px;
    padding-left: 575px; 
    color: red;
    font-size: 25px;
}
.samovi {
    Position: absolute;
    margin:-38px 30px;
    padding-left: 665px; 
}
.ugliv {
    Position: absolute;
    margin:-5px 30px;
    padding-left: 185px; 
    font-size: 125%;
}
.jir {
    Position: absolute;
    margin:-5px 30px;
    padding-left: 385px; 
    font-size: 125%;
}
.belki {
    Position: absolute;
    margin:-5px 30px;
    padding-left: 585px; 
    font-size: 125%;
}
.kkal {
    Position: absolute;
    margin:-5px 30px;
    padding-left: 765px; 
    font-size: 125%;
}
.sostav {
    margin: 65px 30px;
}
.opisan {
    Position: relative;
    margin: -65px 10px;
    padding-left: -55px; 

}
.cub1 {
    /* Rectangle 12 */

box-sizing: border-box;

width: 671.79px;
height: 316.08px;

border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 35px;

}
.podel {
    Position: absolute;
    margin:-195px 30px;
    padding-left: 85px; 
    color: grey; 
}
.knopka3{
    border: 1px solid black;
    display: inline-block;
    Position: absolute;
    margin:-95px 90px;
    width: 250px;
    height: 40px;
    color: green; 
}
.cub2{
/* Rectangle 14 */

box-sizing: border-box;

margin:25px 10px;
width: 352.75px;
height: 262.03px;

border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 35px;
}
.cub3{
/* Rectangle 15 */

box-sizing: border-box;

position: absolute;
margin:-286px 370px;
width: 592.77px;
height: 262.03px;

border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 35px;
}
.zvyz {
    Position: absolute;
    margin:-195px 30px;
    padding-left: 85px; 
    color: grey; 
}
.nomer {
    Position: absolute;
    margin:-125px 40px;
    padding-left: 85px; 
    color: grey; 
}
.znaki {
    Position: absolute;
    margin:-85px 40px;
    padding-left: 85px; 
}
.znaki1 {
    Position: absolute;
    margin:-85px 90px;
    padding-left: 85px; 
}
.znaki2 {
    Position: absolute;
    margin:-85px 145px;
    padding-left: 85px; 
}
.spiski {
    Position: absolute;
    margin:-215px 335px;
    padding-left: 85px; 
}
.spiski1 {
    Position: absolute;
    margin:-219px 605px;
    padding-left: 85px; 
    
}
